@import '../../../styles/colors';
@import '../../../styles/mixin';
@import '../../../styles/common';

.BtnContainer {
  @extend .common-btn-container;
}

.BtnRefresh {
  @extend .common-refresh;
}

.UlTodos {
  width: 100%;
  li {
    @extend .display-flex;
    @extend .flex-direction-row;
    @extend .flex-center-start;
    background: $blue-grey-800;
    width: 100%;
    @extend .bsbb;
    @include border-radius(5px);
    padding: 20px;
    &:not(:first-of-type) {
      margin-top: 10px;
    }
  }
}

.BtnDelete {
  color: $red;
  @include border-radius(50%);
  width: 40px;
  height: 40px;
  margin-right: 10px;
  &:hover {
    color: $white;
    background: $red;
  }
}

.LabelDiv {
  @extend .display-flex;
  @extend .flex-direction-row;
  @extend .flex-center-start;
  padding: 5px 0 20px 0;
}

.BtnAdd {
  width: 40px;
  height: 40px;
  @include border-radius(50%);
  margin-left: 10px;
  background: $orange;
  &:disabled {
    background: $orange-300;
  }
}
